/.cph
/.vscode
/Arena.bin
/Arena.exe
/Balanced Array.bin
/Balanced Array.cpp
/Bit++.bin
/Bit++.cpp
/Boring Apartments.bin
/Boring Apartments.cpp
/Boy or Girl.bin
/Boy or Girl.cpp
/Cat Cycle.cpp
/CopyCopyCopyCopyCopy.bin
/CopyCopyCopyCopyCopy.cpp
/Domino piling.bin
/Domino piling.cpp
/Drinks.bin
/Drinks.cpp
/Drinks.exe
/Helpful Maths.bin
/Helpful Maths.cpp
/minimumTies.bin
/minimumTies.cpp
/minimumTies.exe
/NExt Round.bin
/Next Round.cpp
/Queue at the School.bin
/Queue at the School.cpp
/Restore the Permutation by Merger.bin
/Restore the Permutation by Merger.cpp
/Restore the Permutation by Merger.exe
/Soldier and Bananas.bin
/Soldier and Bananas.cpp
/Stones on the Table.bin
/Stones on the Table.cpp
/Sum of Odd Integers.bin
/Sum of Odd Integers.cpp
/Team.cpp
/tempCodeRunnerFile.cpp
/template.cpp
/template.exe
/Three Problems.bin
/Three Problems.exe
/Word Capitalization.bin
/Word Capitalization.cpp
/Yet Another Two Integers Problem.bin
/Yet Another Two Integers Problem.cpp
/Yet Another Two Integers Problem.exe